body {
    margin: 0;
    padding: 0;
    background-size:cover;
    background-color: rgb(71, 71, 71);
    flex-direction: column;
    display: flex;
    overflow: hidden;
    font-family: 'Bebas Neue';
    background-image: url("storm.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
#line3{
  text-decoration: underline;
  color: white;
}
.nav {
    background-color: rgb(71, 71, 71);
    position: sticky;
    top: 0;
    z-index: 4;
}

.nav ul{
    
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    padding-right: 300px;
    z-index: 101;
}

.nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}

.nav a:hover {
    background-color: rgb(83, 73, 91);
}

.nav li {
    float: right;
    font-size: 30px;
    padding-right: 30px;
}

.fb{
    border: 10px solid rgb(28, 32, 32);
    height: 590px;
    width: 60%;
    box-shadow: 10px 10px 10px white;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position:absolute;
    margin-left:450px;
    margin-top:200px;
    animation: fadeIn 2s;
}

#feedback {
  width: 1238.5px;
  height: 580px;
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

h1 {
    color: wheat;
    text-shadow: 5px 5px 5px black;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0px;
    padding-top: 125px;
}

.comm1 {
    background-color: rgb(69, 80, 83);
    height: 65%;
  }
  
  .comm2 {
    background-color: rgb(22, 21, 21);
    height: 65%;
  }
  
  .comm1, .comm2 {
    display: block;
    margin: 5px;
    scroll-snap-align: center none;

  }

  ::-webkit-scrollbar {
    width: 10px;
  }


  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    scroll-margin: 100px;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
